{% extends 'base.html.twig' %}

{% block title %}
    Card Game - Play
{% endblock %}

{% block content %}
    <h1>
        Card Game
    </h1>
    <h2>
        Your hand:
    </h2>
    <div>
        {% for card in cardHand %}
            <span class="card">{{ card }}</span>
        {% endfor %}
    </div>
    <br />

    <form method="post" action="{{ path('card_draw') }}">
        <button type="submit">Draw a card</button>
    </form>

    {% for message in app.flashes('warning') %}
        <div class="flash-warning">
            {{ message }}
        </div>
    {% endfor %}
{% endblock %}
