{% extends 'base.html.twig' %}

{% block title %}
    About
{% endblock %}

{% block content %}
    <h1>
        Om kursen MVC
    </h1>
    <p>
        Kursen Objektorienterade webbteknologier, a.k.a. mvc, fokuserar på
        objektorienterade programmeringstekniker i programmeringsspråket PHP.
        <br /><br />
        Klassiska objektorienterade konstruktioner hanteras tillsammans med objektorienterad
        programmering i webbaserat ramverk tillsammans med databaser samt enhetstestning.
    </p>
{% endblock %}

{% block sidebar %}
    <aside id="sidebar">
        <h1>
            Links
        </h1>
        <a href="https://github.com/dbwebb-se/mvc" class="image-link">
            <img src="{{ asset('img/mvc.png') }}" alt="mvc leaf logo" />
            <span class="link-text">Course Repo</span>
        </a>
        <a href="https://github.com/arwebSE/mvc" class="image-link">
            <img src="{{ asset('img/github.png') }}" alt="github logo" />
            <span class="link-text">My Repo</span>
        </a>
    </aside>
{% endblock %}
