{% extends 'base.html.twig' %}

{% block title %}
    About
{% endblock %}

{% block body %}
    <h1>
        About
    </h1>
    <p>
        An image which can be clicked on.
    </p>
    <a href="https://github.com/dbwebb-se/mvc">
        <img src="{{ asset('img/mvc.png') }}" alt="mvc leaf logo" />
        Course GitHub Repo
    </a>

    <a></a>
{% endblock %}
