{% extends 'base.html.twig' %}

{% block title %}
    API
{% endblock %}

{% block content %}
    <h1>
        About API
    </h1>
    <p>
        The following api routes are available:<ul>
            <li>
                <a href="{{ path('api_deck') }}">GET /api/deck</a> - returns a list
                of all cards in the deck
            </li>
            <li>POST /api/deck/shuffle - shuffles the deck</li>
            <li>POST /api/deck/draw - draws a card from the deck</li>
            <li>
                POST /api/deck/draw/:number - draws a number of cards from the
                deck
            </li>
            <li>
                POST /api/deck/deal/:players/:cards - deals a number of cards to
                a number of players
            </li>
        </ul>
    </p>
{% endblock %}

{% block sidebar %}
    <aside id="sidebar">
        <h1>
            API Links
        </h1>
        <a href="{{ path('api_quote') }}">Quotes</a>
        <br />
        <a href="{{ path('api_deck') }}">Deck</a>
    </aside>
{% endblock %}
