{% extends 'base.html.twig' %}

{% block title %}
    Home
{% endblock %}

{% block body %}
    <h1>
        August M. Rosenqvist
    </h1>
    <div>
        <div>
            <img src="{{ asset('img/profile.jpg') }}" alt="My Photo" />
        </div>
        <div>
            <p>
                Hi, my name is August and I'm a junior developer based in
                Stockholm, Sweden.
                <br /><br />
                I am currently finishing up my studies and developing applications
                using various technologies such as Symfony, React, and Node.
                <br /><br />
                I'm also passionate about creating & playing music. I also like flying
                drones and ride my motorcycle in my freetime aswell.
                <br /><br />
                I do love software though, and enjoy tinkering with small programming
                projects in my freetime.
            </p>
        </div>
    </div>
{% endblock %}
