{% extends 'base.html.twig' %}

{% block title %}
    Home
{% endblock %}

{% block body %}
    <div class="center">
        <h1 class="title">
            August M. Rosenqvist
        </h1>
    </div>
    <div>
        <div class="center">
            <img class="profile"
                src="{{ asset('img/profile.jpg') }}"
                alt="My Photo" />
        </div>
        <div class="aboutText">
            <p class="broadText">
                Hi, my name is August and I'm a junior developer based in
                Stockholm, Sweden.
                <br /><br />
                I am currently finishing up my studies and developing applications
                using various technologies such as Symfony, React, and Node.
                <br /><br />
                I'm also passionate about creating & playing music. I also like flying
                drones and ride my motorcycle in my freetime aswell.
                <br /><br />
                I do love software though, and enjoy tinkering with small programming
                projects in my freetime.
            </p>
        </div>
    </div>
{% endblock %}
