{% extends 'base.html.twig' %}

{% block title %}
    Home
{% endblock %}

{% block body %}
    <h1>
        Home
    </h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec auctor,
        nisl eget ultricies tincidunt, nisl nisl aliquet nisl, nec

        tincidunt nisl nisl vel nisl. N
    </p>
{% endblock %}
