{% extends 'base.html.twig' %}

{% block title %}
    Magic number
{% endblock %}

{% block content %}
    <h1>
        Lucky You
    </h1>
    <p>
        You roll a dice... and you got a: {{ number }}!
    </p>
    <img src="img/dice/{{ number }}.png" class="dice" />

    {% if number == 6 %}
        <p>
            Here's a random cat picture for you, since you're so lucky:
        </p>

        <img src="https://cataas.com/cat?wi=100"
            alt="cat picture"
            class="cat" />
    {% else %}
        <p>
            ...you're not so lucky, are you?
        </p>
    {% endif %}
{% endblock %}
