{% extends 'base.html.twig' %}

{% block title %}
    Metrics Analys
{% endblock %}

{% block content %}
    <h1>
        Metrics Analys
    </h1>
    <p>
        blabla
    </p>
{% endblock %}

{% block sidebar %}
    <aside id="sidebar">
        <h1>
            Links
        </h1>
        <p>
            <a href="/phpmetrics/index.html">PHPMetrics report</a>
        </p>
    </aside>
{% endblock %}
