{% extends 'base.html.twig' %}

{% block title %}
    About
{% endblock %}

{% block content %}
    <h1>
        Redovisning
    </h1>
    <article id="kmom01">
        <h2>
            Kmom01
        </h2>
        <p>
            <strong>
                &bull; Berätta kort om dina förkunskaper och tidigare
                erfarenheter kring objektorientering.
            </strong>
            <br /><br />

            - Jag har inte så mycket tidigare erfarenheter vad det gäller just
            objektorientering förutom diverse tidigare kurser i programmering.

            <br /><br /><br />

            <strong>
                &bull; Berätta kort om PHPs modell för klasser och objekt. Vilka
                är de grunder man behöver veta/förstå för att kunna komma igång
                och skapa sina första klasser?
            </strong>
            <br /><br />

            - En klass är en mall som definierar egenskaper och beteenden för
            objekt. Objekt är konkreta förekomster av en viss klass och skapas
            utifrån dess mall. Användning av klasser och objekt möjliggör
            återanvändning och strukturerad kod.
            <br /><br /><br />

            <strong>
                &bull; Reflektera kort över den kodbas, koden, strukturen som
                användes till uppgiften me/report, hur uppfattar du den?
            </strong>
            <br /><br />

            - Koden var lätt att förstå och välstrukturerad med välkända
            designmönster på lämpligt sätt. Vissa utmaningar uppstod dock vid
            förståelsen av instruktionerna till Symfony. Ibland ville saker inte
            fungera direkt, som tänkt.

            <br /><br /><br />

            <strong>
                &bull; Med tanke på artikeln “PHP The Right Way”, vilka delar in
                den finner du extra intressanta och värdefulla? Är det några
                särskilda områden som du känner att du vill veta mer om? Lyft
                fram några delar av artikeln som du känner mer värdefulla.
            </strong>
            <br /><br />

            - Jag tycker att security delen verkar mest intressant.

            <br /><br /><br />

            <strong>&bull; Vilken är din TIL för detta kmom?</strong>
            <br /><br />

            - Jag har lärt mig mer om Symfony, Composer och PHP generellt. Jag
            har också lärt mig mer om objektorientering som begrepp och vad det
            innebär.

            <br /><br /><br />
        </p>
    </article>

    <article id="kmom02">
        <h2>
            Kmom02
        </h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas
            tristique felis dolor. Suspendisse accumsan tellus ac neque tempor
            scelerisque. Duis dictum diam in nisl molestie vulputate. Donec
            interdum odio vitae scelerisque blandit. Vestibulum enim dolor,
            ornare at dui in, venenatis convallis sapien. Vestibulum ullamcorper
            eu lectus quis lacinia. Praesent id fringilla ligula, ut tincidunt
            purus. Fusce viverra metus ac lacinia eleifend. Morbi vehicula enim
            eget est accumsan, ac porttitor justo iaculis.
            <br /><br />
            Morbi magna elit, commodo et nunc ac, malesuada mollis est. Quisque mattis
            venenatis nunc, quis varius leo tristique eget. Sed non urna condimentum,
            sagittis dui sed, pulvinar sapien. Aliquam vitae maximus metus. Phasellus
            vitae ligula quam. Sed ac nisi quis massa rutrum vulputate. Duis eu convallis
            libero. Pellentesque faucibus aliquet eros bibendum faucibus. Suspendisse
            et dolor massa. Praesent quis malesuada lorem. Donec eu vestibulum ex.
            Quisque in tincidunt urna, ut venenatis elit.
            <br /><br />
        </p>
    </article>

    <article id="kmom03">
        <h2>
            Kmom03
        </h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas
            tristique felis dolor. Suspendisse accumsan tellus ac neque tempor
            scelerisque. Duis dictum diam in nisl molestie vulputate. Donec
            interdum odio vitae scelerisque blandit. Vestibulum enim dolor,
            ornare at dui in, venenatis convallis sapien. Vestibulum ullamcorper
            eu lectus quis lacinia. Praesent id fringilla ligula, ut tincidunt
            purus. Fusce viverra metus ac lacinia eleifend. Morbi vehicula enim
            eget est accumsan, ac porttitor justo iaculis.
            <br /><br />
            Morbi magna elit, commodo et nunc ac, malesuada mollis est. Quisque mattis
            venenatis nunc, quis varius leo tristique eget. Sed non urna condimentum,
            sagittis dui sed, pulvinar sapien. Aliquam vitae maximus metus. Phasellus
            vitae ligula quam. Sed ac nisi quis massa rutrum vulputate. Duis eu convallis
            libero. Pellentesque faucibus aliquet eros bibendum faucibus. Suspendisse
            et dolor massa. Praesent quis malesuada lorem. Donec eu vestibulum ex.
            Quisque in tincidunt urna, ut venenatis elit.
            <br /><br />
        </p>
    </article>

    <article id="kmom04">
        <h2>
            Kmom04
        </h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas
            tristique felis dolor. Suspendisse accumsan tellus ac neque tempor
            scelerisque. Duis dictum diam in nisl molestie vulputate. Donec
            interdum odio vitae scelerisque blandit. Vestibulum enim dolor,
            ornare at dui in, venenatis convallis sapien. Vestibulum ullamcorper
            eu lectus quis lacinia. Praesent id fringilla ligula, ut tincidunt
            purus. Fusce viverra metus ac lacinia eleifend. Morbi vehicula enim
            eget est accumsan, ac porttitor justo iaculis.
            <br /><br />
            Morbi magna elit, commodo et nunc ac, malesuada mollis est. Quisque mattis
            venenatis nunc, quis varius leo tristique eget. Sed non urna condimentum,
            sagittis dui sed, pulvinar sapien. Aliquam vitae maximus metus. Phasellus
            vitae ligula quam. Sed ac nisi quis massa rutrum vulputate. Duis eu convallis
            libero. Pellentesque faucibus aliquet eros bibendum faucibus. Suspendisse
            et dolor massa. Praesent quis malesuada lorem. Donec eu vestibulum ex.
            Quisque in tincidunt urna, ut venenatis elit.
            <br /><br />
        </p>
    </article>

    <article id="kmom05">
        <h2>
            Kmom05
        </h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas
            tristique felis dolor. Suspendisse accumsan tellus ac neque tempor
            scelerisque. Duis dictum diam in nisl molestie vulputate. Donec
            interdum odio vitae scelerisque blandit. Vestibulum enim dolor,
            ornare at dui in, venenatis convallis sapien. Vestibulum ullamcorper
            eu lectus quis lacinia. Praesent id fringilla ligula, ut tincidunt
            purus. Fusce viverra metus ac lacinia eleifend. Morbi vehicula enim
            eget est accumsan, ac porttitor justo iaculis.
            <br /><br />
            Morbi magna elit, commodo et nunc ac, malesuada mollis est. Quisque mattis
            venenatis nunc, quis varius leo tristique eget. Sed non urna condimentum,
            sagittis dui sed, pulvinar sapien. Aliquam vitae maximus metus. Phasellus
            vitae ligula quam. Sed ac nisi quis massa rutrum vulputate. Duis eu convallis
            libero. Pellentesque faucibus aliquet eros bibendum faucibus. Suspendisse
            et dolor massa. Praesent quis malesuada lorem. Donec eu vestibulum ex.
            Quisque in tincidunt urna, ut venenatis elit.
            <br /><br />
        </p>
    </article>

    <article id="kmom06">
        <h2>
            Kmom06
        </h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas
            tristique felis dolor. Suspendisse accumsan tellus ac neque tempor
            scelerisque. Duis dictum diam in nisl molestie vulputate. Donec
            interdum odio vitae scelerisque blandit. Vestibulum enim dolor,
            ornare at dui in, venenatis convallis sapien. Vestibulum ullamcorper
            eu lectus quis lacinia. Praesent id fringilla ligula, ut tincidunt
            purus. Fusce viverra metus ac lacinia eleifend. Morbi vehicula enim
            eget est accumsan, ac porttitor justo iaculis.
            <br /><br />
            Morbi magna elit, commodo et nunc ac, malesuada mollis est. Quisque mattis
            venenatis nunc, quis varius leo tristique eget. Sed non urna condimentum,
            sagittis dui sed, pulvinar sapien. Aliquam vitae maximus metus. Phasellus
            vitae ligula quam. Sed ac nisi quis massa rutrum vulputate. Duis eu convallis
            libero. Pellentesque faucibus aliquet eros bibendum faucibus. Suspendisse
            et dolor massa. Praesent quis malesuada lorem. Donec eu vestibulum ex.
            Quisque in tincidunt urna, ut venenatis elit.
            <br /><br />
        </p>
    </article>
{% endblock %}

{% block sidebar %}
    <aside id="sidebar">
        <h1>
            Kursmoment
        </h1>
        <ul>
            <li><a href="#kmom01">kmom01</a></li>
            <li><a href="#kmom02">kmom02</a></li>
            <li><a href="#kmom03">kmom03</a></li>
            <li><a href="#kmom04">kmom04</a></li>
            <li><a href="#kmom05">kmom05</a></li>
            <li><a href="#kmom06">kmom06</a></li>
        </ul>
    </aside>
{% endblock %}
