{% extends 'base.html.twig' %}

{% block title %}
    Library Reset
{% endblock %}

{% block content %}
    <p>
        Library reset with initial books.
    </p>
    <a href="{{ path('library_show') }}">Return to Library</a>
{% endblock %}
